<footer>
    {{ if .PublishDate }}
    <div class="prev-next">
      Published on {{ .PublishDate.Format "January 2, 2006" }}
    </div>
    {{ end }}
    {{ if .PrevInSection }}
    <div class="prev-next">
      Previous post: <a href="{{ .PrevInSection.RelPermalink }}" class="prev">{{ .PrevInSection.Title }}</a>
    </div>
    {{ end }}
    {{ if .NextInSection }}
    <div class="prev-next">
      Next post: <a href="{{ .NextInSection.RelPermalink }}" class="next">{{ .NextInSection.Title }}</a>
    </div>
    {{ end }}
</footer>
