<head>

    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta itemprop="creator" content="Timothée Poisot">
    <meta itemprop="name" content="Armchair Ecology">

    <link rel="stylesheet" href="/js/highlight/styles/color-brewer.css">
    <script src="/js/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {{ if in .Params.uses "cite" }}
    <link rel="stylesheet" type="text/css" href="{{ "/hugo-cite.css" | relURL }}" />
    {{ end }}
    {{ $main := resources.Get "main.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
    <link rel="stylesheet" href="{{ $main.Permalink }}">

    <title> {{ .Site.Title }} - {{ .Title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <script defer data-domain="armchairecology.blog" src="https://plausible.io/js/script.js"></script>

    {{ if in .Params.uses "d3"}}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/d3-axis.v1.min.js"></script>
    {{ end }}

    {{ if in .Params.uses "plotly"}}
    <script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
    {{ end }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
        integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js"
        integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4"
        crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js"
        integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
                delimiters: [
                    { left: "$$", right: "$$", display: true },
                    { left: "$", right: "$", display: false }
                ]
            });
        });
    </script>

    <script src="//code.jquery.com/jquery-latest.min.js"></script>

</head>