<nav>
    <span class="title">
        <a href="/" title="Home">
            <span class="title--text">{{ .Site.Title }}</span>
        </a>
        {{ if eq .Section "post" }}<span class="title--subtext">{{ .Page.Title | safeHTML | truncate 50 }}</span>{{ end }}
    </span>

    <span class="elements">
        <span class="element">
            <a href="/about/" title="About">
                <span class="element--tag">About</span>
                <i class="ri-information-line ri-sm"></i>
            </a>
        </span>

        <span class="element">
            <a href="https://ecoevo.social/@tpoisot" rel="me" target="_blank" title="@tpoisot@ecoevo.social">
                <span class="element--tag">Say hi!</span>
                <i class="ri-mastodon-line ri-sm"></i>
            </a>
        </span>

        <span class="element">
            <a href="https://ko-fi.com/timotheepoisot" target="_blank" title="ko-fi donation">
                <span class="element--tag">Coffee?</span>
                <i class="ri-cup-line ri-sm"></i>
            </a>
        </span>

        <span class="element">
            <a href="/post/index.xml" target="_blank" title="Subscribe">
                <span class="element--tag">Subscribe</span>
                <i class="ri-rss-line ri-sm"></i>
            </a>
        </span>
    </span>
</nav>