<section class="pagetitle">
    <div class="contents">
        <h1>{{ .Title }}</h1>
        {{ if (isset $.Page.Params "subtitle") }}<span class="chapo">{{ $.Page.Params.subtitle }}</span>{{ end }}
    </div>
    <time itemprop="datePublished" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "Jan. 2, 2006" }}
    </time>
</section>