<section class="post">
   <div class="post--metadata">
      <span class="post--metadata post--date">{{ .PublishDate.Format "Jan. 2, 2006" }}</span>
      <span class="post--metadata post--readingtime">{{ .WordCount }} words</span>
   </div>
<a class="post--link" href="{{ .RelPermalink }}">{{ if .Draft }}<span class="label">draft</span>{{end}}{{ .Title }}</a>
</section>
