<style media="screen">

.line {
  stroke-width: 2px;
}
.line.black {
  stroke: #333;
}
.line.dashed{
  stroke-dasharray: 5px;
}

.slidecontainer {
  background: #fdfdfd;
  box-shadow: 0px 0px 2px #ccc;
  padding: 1.2em;
  border-radius: 3px;
  width: 40%;
  float: left;
  margin: 10px 2%;
}
.slidecontainer .label {
  font-weight: bold;
}
.slidecontainer .tag {
  text-align: right;
  width: 20%;
}
.slidergroup {
  clear: both;
  display: table;
  font-size: 80%;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 2px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  opacity: 1.0; /* Set transparency (for mouse-over effects on hover) */
}

</style>

<div class="slidergroup">
  <div class="slidecontainer"><span class="label">Pop. 1 K</span><input type="range" min="0.1" max="1.5" step="0.05" value="0.75" class="slider" id="iso1_k1"><span class="tag" id="value_iso1_k1"></span></div>
  <div class="slidecontainer"><span class="label">Pop. 2 K</span><input type="range" min="0.1" max="1.5" step="0.05" value="0.85" class="slider" id="iso1_k2"><span class="tag" id="value_iso1_k2"></span></div>
  <div class="slidecontainer"><span class="label">Effect of 1 → 2</span><input type="range" min="0.1" max="2.1" step="0.05" value="0.45" class="slider" id="iso1_a1"><span class="tag" id="value_iso1_a1"></span></div>
  <div class="slidecontainer"><span class="label">Effect of 2 → 1</span><input type="range" min="0.1" max="2.1" step="0.05" value="0.60" class="slider" id="iso1_a2"><span class="tag" id="value_iso1_a2"></span></div>
</div>

<div id="isocline1" class="d3" style="height: 450px; width: 450px; margin: 0 auto;">
</div>
