{{ define "main" }}
  <h1>Sorry!</h1>
  <article>

  This page has not been found. Have a look at the most recent entries instead?

  <br />
  <br />
  <br />

  <div class="post-list wrapped index-page">
      {{ range first 5 (where .Pages "Section" "post")}}
      {{- partial "singlepost.html" . -}}
      {{end}}
  </div>

  </article>
{{ end }}
