.hugo-cite-group {
    font-size: 100% !important;
    display: inline-block;

    a {
        text-decoration-color: $burnt_sienna;
        text-decoration-thickness: 1px;
        color: $licorice;
        font-style: italic;
    }

    .hugo-cite-citation {
        background-color: $licorice;
        color: $isabelline;
        border: 0px;
        opacity: 0.95 !important;
        border-radius: 4px;
        padding: 1.2em;
        width: 400px;
        a {
            color: $isabelline;
        }
    }
}