// Palette for accent colors
$cerulean: rgba(45, 114, 143, 1);
$sage: rgba(162, 167, 127, 1);
$burnt-sienna: rgba(238, 108, 77, 1);
$columbia-blue: rgba(198, 224, 255, 1);
$eggplant: rgba(117, 70, 104, 1);

// Grey colors
$isabelline: rgba(239, 233, 231, 1);
$paynes-gray: rgba(97, 112, 115, 1);
$licorice: rgba(28, 16, 24, 1);

body {
    color: $licorice;
}

html {
    background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
    color: $paynes-gray;
}
