header#main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: lighten($paynes-gray, 55%);
    z-index: 10000;
}


nav {
    line-height: 3em;
    padding: 0em 1em;

    .elements {
        position: absolute;
        right: 1em;

        .element {
            display: inline;
            padding-left: 1.5rem;

            a {
                .element--tag {
                    font-variant: small-caps;
                    text-transform: lowercase;
                    padding-right: 0.2rem;
                }

                i {
                    vertical-align: middle;
                    color: $sage;
                }

                &:hover {
                    i {
                        color: $cerulean;
                    }
                }
            }

        }
    }

    a {
        text-decoration: none;
        color: $sage;
    }

    .title {
        font-weight: 600;

        a {
            color: $sage;
        }
    }

    .title--subtext {
        padding-left: 1em;
        font-weight: 400;
        color: $paynes-gray;
    }

    @media only screen and (max-width: 800px) {
        .title--subtext {
            display: none;
        }

        .element--tag {
            display: none;
        }
    }
}