article {
    margin-bottom: 8rem;
}

.post{
    margin-bottom: 3rem;
    .post--link {
        font-weight: 500;
        font-size: 2rem;
        color: $licorice;
        text-decoration: none;
        &:hover{
            color: $cerulean;
        }
    }
    .post--metadata {color: $paynes-gray; padding-right: 1em;}
    .label {
        color: $burnt-sienna;
        font-weight: 600;
        display: inline-table;
        text-transform: uppercase;
        font-size: 80%;
        border: 1px solid $burnt-sienna;
        padding: 0px 5px;
        border-radius: 2px;
        margin-right: 1rem;
        float: right;
    }
}

main {
    padding-top: 10em;
}
