div#toc {
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    a {
        display: block;
        text-decoration-color: transparent;
        font-size: 100%;
        font-family: "Barlow Semi Condensed";
        line-height: 2.4rem;
        &.toc-H3 {
            padding-left: 1em;
            color: $paynes-gray;
            &:hover {
                color: $licorice;
                text-decoration-color: none;
            }
        }
        &.toc-H2 {
            color: $licorice;
            &:hover {
                color: $cerulean;
                text-decoration-color: none;
            }
        }
    }
}
