@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital@0;1&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Barlow", sans-serif;
    padding: 3em;
    max-width: 750px;
    margin: 0px auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.edit,
.tk {
    font-family: "Barlow Semi Condensed";
}

.container {
    a {
        color: black;

        &:hover {
            color: $cerulean;
        }

        text-decoration-color: $columbia-blue;
        text-decoration-thickness: 15%;
        text-underline-offset: 3px;
    }
}

code {
    font-family: "Cousine", monospace;
}

pre {
    white-space: pre-wrap;

    .hljs {
        border-radius: 2px;
    }

    code {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

article {
    img {
        max-width: 100%;
        border-radius: 2px;
        border: 1px solid $isabelline;
    }

    p {
        font-size: 1.75rem;
        line-height: 2.8rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;

        strong,
        b {
            font-weight: 500;
        }

        code {
            color: $eggplant;
            font-size: 1.6rem;
        }

        &.edit {
            color: $paynes-gray;
            font-family: "Barlow Semi Condensed", sans-serif;
            font-size: 100%;
            line-height: 2.2rem;

            &::before {
                color: $sage;
                font-weight: 600;
                display: inline-table;
                content: "Edited";
                text-transform: uppercase;
                font-size: 80%;
                border: 1px solid $sage;
                padding: 0px 5px;
                border-radius: 2px;
                margin-right: 1rem;
            }
        }

        &.tk {
            color: $paynes-gray;
            font-family: "Barlow Semi Condensed", sans-serif;
            font-size: 100%;
            line-height: 2.2rem;

            &::before {
                color: $burnt-sienna;
                font-weight: 600;
                display: inline-table;
                content: "TK";
                text-transform: uppercase;
                font-size: 80%;
                border: 1px solid $burnt-sienna;
                padding: 0px 5px;
                border-radius: 2px;
                margin-right: 1rem;
            }
        }
    }

    h2 {
        margin-top: 8rem;
        font-weight: 400;

        &::after {
            width: 8vw;
            background-color: $eggplant;
            content: " ";
            height: 1px;
            display: block;
            margin-top: 4px;
        }

    }

    h3 {
        font-weight: 400;
        margin-top: 3rem;

        &::after {
            width: 4vw;
            background-color: $isabelline;
            content: " ";
            height: 1px;
            display: block;
            margin-top: 4px;
        }

    }

    a.margin-anchor {
        color: $sage;
        text-align: right;
        text-decoration: none;
        font-weight: 300;
        font-family: "Barlow Condensed";
        display: inline-block;
        width: 25px;
        margin-left: -35px;
        padding-right: 10px;
    }

    header {
        h1 {
            font-weight: 300;
            font-size: 3.5rem;
            margin-bottom: 0.6rem;
        }

        .chapo {
            font-size: 1.8rem;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 0rem;
            color: $licorice;

            &::after {
                display: none;
            }
        }

        time {
            display: block;
            margin-top: 5rem;
            color: $paynes-gray;
            text-align: center;
            font-variant: small-caps;
            font-family: "Barlow Condensed";
            font-weight: 400;
        }

        margin-bottom: 5rem;
    }
}

.katex {
    font-size: 105% !important;
}

.related {
    margin-top: 12rem;
    text-align: right;
    font-size: 95%;
}

table {
    font-family: "Barlow Semi Condensed", sans-serif;
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid $paynes-gray;

    td,
    th {
        padding: 5px 5px
    }

    ;

    th {
        background-color: $paynes-gray;
        color: $isabelline;
    }

    tr {
        border-bottom: 1px solid $paynes-gray;

        &:nth-child(even) {
            background-color: $isabelline;
        }
    }
}