<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/CreativeWork">
    {{- partial "head.html" . -}}
    <body>
        <header id="main">
            {{- partial "navigation.html" . -}}
        </header>
        <main>
            <section class="container">
                {{- block "main" . }}{{- end }}
                {{ if eq .Section "post" }}
                {{- partial "comments.html" . -}}
                {{ end }}
            </section>
            <footer>
                <!-- {{- partial "footer.html" . -}} -->
            </footer>
        </main>
        <script defer src="/js/citeproc.js"></script>
        <script defer src="/js/toc.js"></script>
    </body>
</html>
