{{ define "main" }}
<article itemscope itemtype="https://schema.org/Article">
    
    <meta itemprop="creator" content="Timothée Poisot">
    <meta itemprop="license" content="https://creativecommons.org/licenses/by/4.0/">
    <meta itemprop="name" content="{{ .Title }}">
    <meta itemprop="description" content="{{ .Summary }}">
    <img itemprop="image" src="/logo.png" alt="" style="display: none;">
    
    <header>
        {{- partial "pagetitle.html" . -}}
    </header>

    <span itemprop="articleBody">
        {{ .Content }}
    </span>

    <div class="related">
    {{- partial "related.html" . -}}
    </div>

</article>
{{ end }}