{{ define "main" }}
<article>
   {{ range .Site.Taxonomies.topics }}
   <div class="topic">
   <span class="mdi mdi-tag-text-outline"></span>
   <a href="{{ .Page.Permalink }}" title="All posts in {{ .Page.Title }}">
      {{ .Page.Title }}</a>
   <span class="badge count">{{ .Count }}</span>
   </div>
   {{ end }}
</article>
{{ end }}
