<span style="clear: both"></span>
<div id="isocline2a" class="d3" style="height: 300px; width: 300px; margin: 0 auto; float: left;">
</div>
<div id="isocline2b" class="d3" style="height: 300px; width: 300px; margin: 0 auto; float: right;">
</div>
<p style="clear: both; margin-bottom: 1em;"></p>
